html {
  font-size: 16px;
}
body {
  background-image: url('./sky.jpg');
  font-family: 'Mina', sans-serif;
  font-family: 'Rammetto One', cursive;
}
.app {
  overflow-x: hidden;
  position: fixed;
}
.title {
  font-family: 'Rammetto One', cursive;
  min-width: 300px;
  color: black;
  font-size: 8rem;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgba(100%, 100%, 100%, 0.9);
  margin-top: 5%;
  margin-bottom: 3%;
  animation-name: title;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
@keyframes title {
  0%   {-webkit-text-stroke-color: rgba(100%, 100%, 100%, 0.9);}
  25%  {-webkit-text-stroke-color: #ddff00;}
  50%  {-webkit-text-stroke-color: #00eddd;}
  100% {-webkit-text-stroke-color: black;}
}
.subtitle {
  font-family: 'Mina', sans-serif;
  min-width: 300px;
  color: rgba(100%, 100%, 100%, 0.8);
  font-size: 2em;
  text-align: center;
  margin-bottom: 6%;
}
.start-here {
  font-family: 'Mina', sans-serif;
  color: white;
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
  /* .title{
    font-size: 5rem;
  } */
  html{
    font-size: 12px;
  }
}
