.overlay {
  background-color: black;
  opacity: 0.8;
}

.message {
  font-family: 'Mina', sans-serif;
  color: white;
  text-align: center;
  margin-top: 10%;
  opacity: 0.6;
  font-size: 2rem;
}

.start-button {
  font-family: 'Mina', sans-serif;
  color: white;
  text-align: center;
  margin-top: 15%;
  opacity: 0.6;
  font-size: 2rem;
  margin-bottom: 20px;
}
.difficulty {
  font-family: 'Mina', sans-serif;
  color: white;
  text-align: center;
  opacity: 0.6;
  font-size: 1.7rem;
  margin-top: 3%;
}
.difficulty:hover{
  opacity: 1;
}
.start-button:hover {
  opacity: 1;
}
